<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>list</title>
	</head>
	<body>
		<h3>직원목록</h3>
		<table border="1">
			<tr>
				<th>번호</th>
				<th>이름</th>
				<th>생년월일</th>
				<th>성별</th>
				<th>휴대폰</th>
				<th>주소</th>
				<th>입사일</th>				
				<th>관리</th>				
			</tr>
			<tr>
				<td>1</td>
				<td>홍길동</td>
				<td>1988-04-22</td>
				<td>남</td>
				<td>010-1245-4554</td>
				<td>부산광역시 부산진구</td>
				<td>2021-03-02</td>
				<td>
					<a href="./modify.html">수정</a>
					<a href="#">삭제</a>
				</td>			
			</tr>
		</table>
		
	</body>
</html>